<%#content_for :title, 'beam-e-up | Login'%>
<%#content_for :keywords, 'login' %>
<%#content_for :description, 'login to connect to beem e up' %>


<<div style="text-align: center;width: 116px;margin-left:auto;margin-right: auto;">  <br/><br/><br/>
  <div style="text-align: center;margin-left:auto;margin-right: auto;">
    <% flash[:notice]= notice %>
    <% flash[:error]= alert %>
  </div>
  <img src="/images/logo.png" width="116" height="67" alt="Beam-e-up" align="middle" /><br /><br />
</div>
<div class="content textAlignCenter">

  <div class="panel" style="width:450px; margin:0 auto;">
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>

<%= render "devise/shared/links" %>
  </div>
</div>