





<%#= radio_button_tag '1','1' %><h3> Buy One, Get One (BOGO) </h3><br /><br />
         <%#*<div id="">%>


            <%#= radio_button_tag '1_1','1' %><%= label_tag '1_1_1', 'Buy one, get one free' %><br /><br/>
            <%#= radio_button_tag '1_1','2' %> Buy  &nbsp;<%= text_field_tag '1_1_2_1' %> and get &nbsp;<%= text_field_tag '1_1_2_2' %>  free!<br /><br/>
            <%#= radio_button_tag '1_1','3' %> Buy  &nbsp;<%= text_field_tag '1_1_3_1' %> and get $ &nbsp;<%= text_field_tag '1_1_3_2' %>  off your purchase!<br /><br/>
            <%#= radio_button_tag '1_1','4' %> Buy  &nbsp;<%= text_field_tag '1_1_4_1' %> and get % &nbsp;<%= text_field_tag '1_1_4_2' %>  off!<br /><br/>
            <%#= radio_button_tag '1_1','5' %> Buy  &nbsp;<%= text_field_tag '1_1_5_1' %> and get % &nbsp;<%= text_field_tag '1_1_5_2' %>  off the next unit!<br /><br/>
         <%#*</div>%>
         <%#= radio_button_tag '1','2' %><h3> Increase Transaction Size - Storewide  </h3><br /><br />
            <%#*<div id="">%>
            <%#= radio_button_tag '1_2','1' %> Spend $ &nbsp;<%= text_field_tag '1_2_1_1'%> or more in store and receive $ &nbsp;<%= text_field_tag '1_2_1_2'%>off your purchase!<br /><br/>
            <%#= radio_button_tag '1_2','2' %> Spend $ &nbsp;<%= text_field_tag '1_2_2_1'%> or more in store and receive &nbsp;<%= text_field_tag '1_2_2_2'%>% off your purchase!<br /><br/>
            <%#= radio_button_tag '1_2','3' %> Spend $ &nbsp;<%= text_field_tag '1_2_3_1'%> or more in store and receive a &nbsp;<%= text_field_tag '1_2_3_2'%>with your purchase!<br /><br/>
            <%#*</div>%>

         <%#= radio_button_tag '1','3' %><h3>Group Shopper Coupon </h3><br /><br />
            <%#*<div id="">%>
            <%#= radio_button_tag '1_3','1' %> Come in with &nbsp;<%= text_field_tag '1_3_1_1'%> or more friends, spend $ &nbsp;<%= text_field_tag '1_3_1_2'%>or more in store as a group and receive $ &nbsp;<%= text_field_tag '1_3_1_3'%>off your total group purchase!<br /><br/>
            <%#= radio_button_tag '1_3','2' %> Come in with &nbsp;<%= text_field_tag '1_3_2_1'%> or more friends, spend $ &nbsp;<%= text_field_tag '1_3_2_2'%>or more in store as a group and receive &nbsp;<%= text_field_tag '1_3_2_3'%>% off your total group purchase!<br /><br/>
            <%#*</div>%>
         <%#= radio_button_tag '1','4' %><h3>Upsize</h3><br /><br />
            <%#*<div id="">%>
            <%#= radio_button_tag '1_4','1' %> Order a &nbsp;<%= text_field_tag '1_4_1_1'%> and receive &nbsp;<%= text_field_tag '1_4_1_2'%>for $ &nbsp;<%= text_field_tag '1_4_1_3'%> more!<br /><br/>
            <%#*</div>%>












<%content_for :title, 'beam-e-up | Deal Wizard - 2'%>
<%content_for :keywords, '' %>
<%content_for :description, '' %>

<script type="text/javascript">

$("#deals_wizard_buy_units").validate({
  rules: {
    field: {
      required: true,
      number: true
    }
  }
});
</script>
<div id="content">
  <div class="content">
    <%= render :partial=> 'partials/main_menu' %>
    <div class="contentInside">
      <!-- Content goes here-->
      <div class="panel">
        <div class="head"><h3>Deal Wizard</h3></div>
        <div class="inside">
          <%= form_for(@deals_wizard, :url => send_data_deals_wizards_path, :html=>{ :method => :get }) do |f| %>
            <% if @deals_wizard.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@deals_wizard.errors.count, "error") %> prohibited this deals_wizard from being saved:</h2>

                <ul>
                <% @deals_wizard.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div><br/>
            <% end %>
          <h5>Objective:</h5><br/>
          <%= @selected_objective %>
          <br />

          Deal Options:<br /><br />

          <div id="offers">


          <%= f.hidden_field :compaign_objectives_id, :value => @compaign_objectives_id %>
          
          <%= hidden_field_tag :deal_id, params[:deal_id] %>
            <%= f.check_box :fixed_offer %><%= f.label :fixed_offer, 'Buy one, get one free' %><br /><br />
            <%= f.check_box :buy %><%= f.label :buy%>
            <%= f.text_field :buy_units , :class=>'c_offer'%>&nbsp;units, get
            <%= f.text_field :buy_offer , :class=>'c_offer'%> % off your total purchase<br /><br />

            <%= f.check_box :spend %><%= f.label :spend, 'Spent $'%>
            <%= f.text_field :spend_amount , :class=>'c_offer'%>&nbsp;, get
            <%= f.text_field :spend_offer , :class=>'c_offer'%> % off your total purchase<br />
          </div>

        </div>
      </div>
      <input type="button" onclick="window.history.go(-1)" class="nextbutton nomargin" value="Previous"  ></input>
      <div class="floatRight">

        <%= f.submit 'Next', :class => "nextbutton nomargin", :onclick => "createCookie('from_dealwizard',true,0.01)",:style =>'width:70px' %>

      </div>
      <%end%>
      <div class="clear"></div>
      <!-- Content ends here-->
    </div>
  </div>

</div><!-- #content-->


