$("#credit_info_display").html("<%= escape_javascript render "show", :credit_card_information=>@credit_card_information %>");
$("#credit_card_info_div").html("<%= escape_javascript render "form" %>");
$('#cboxClose').click();
