/* 
    Document   : api
    Created on : Oct 16, 2012, 1:47:37 PM
    Author     : taimoor
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

html {
background: black;

}

input, input[type='text'], input[type='paswword'], input[type='search']{
width:19%;
}