<%content_for :title, 'beam-e-up | First Login'%>
<%content_for :keywords, 'first login' %>
<%content_for :description, 'welcome to beam-e-up' %>

<script type="text/javascript">
    $(document).ready(function(){
        $("form select, input:checkbox, input:radio, input:file").uniform();
    });

</script>

<div id="wrapper">

	<header id="header">
        <div class="content">
            <div class="logo"></div>

            <div class="userMenu">
                Welcome,
                <a class="roundBlueButton" href="#"><img src="images/icons/user.png" width="15" height="14" alt="User"/> Dominik Levytskyi</a>
                <a class="roundGreyButton" href="#">Logout</a>
            </div>

            <div class="clear"></div>
        </div>

	</header><!-- #header-->

	<div id="content">
        <div class="content">
            <div class="panel" style="width:600px; margin:0 auto;">
                <div class="head">Welcome</div>
                <div class="inside textAlignCenter">
                    Hello, <strong>Dominik Levytskyi</strong>,<br />
                    Thank you for joining Beam-e-up!<br /><br />
                    Would you like to:<br /><br />

                    <a class="edgyBlueButton" href="#" style="width:300px;">Take a Tour?</a><br /><br />
                    <a class="edgyBlueButton" href="#" style="width:300px;">Create New Coupon or Deal Campaign?</a><br /><br />
                    <a class="edgyBlueButton" href="#" style="width:300px;">View or Edit your Account/Subscription Information?</a><br /><br />
                    <a class="edgyBlueButton" href="#" style="width:300px;">Contact Us?</a><br /><br />
                </div>
            </div>
        </div>

	</div><!-- #content-->

	<footer id="footer">
        <div class="content">
            <div class="textAlignCenter">beam-e-up. All rights Reserved &copy; 2012</div>
        </div>
	</footer><!-- #footer -->

</div><!-- #wrapper -->
