<%= form_for([:api,:v1,@api_v1_target_rule]) do |f| %>
  <% if @api_v1_target_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_v1_target_rule.errors.count, "error") %> prohibited this api_v1_target_rule from being saved:</h2>

      <ul>
      <% @api_v1_target_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :all_age %><br />
    <%= f.check_box :all_age %>
  </div>
  <div class="field">
    <%= f.label :age_from %><br />
    <%= f.number_field :age_from %>
  </div>
  <div class="field">
    <%= f.label :age_to %><br />
    <%= f.number_field :age_to %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
