<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_zone.name %>
</p>

<p>
  <b>Isactive:</b>
  <%= @admin_zone.isactive %>
</p>


<%= link_to 'Edit', edit_admin_zone_path(@admin_zone) %> |
<%= link_to 'Back', admin_zones_path %>
