<%= form_for(@admin_classified_category) do |f| %>
  <% if @admin_classified_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_classified_category.errors.count, "error") %> prohibited this admin_classified_category from being saved:</h2>

      <ul>
      <% @admin_classified_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_category_id %><br />
    <%= f.number_field :parent_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
