<h1>Listing store_categories</h1>

<table>
  <tr>
    <th>Store</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @store_categories.each do |store_category| %>
  <tr>
    <td><%= store_category.store_id %></td>
    <td><%= store_category.category_id %></td>
    <td><%= link_to 'Show', api_v1_store_category_path(store_category) %></td>
    <td><%= link_to 'Edit', edit_api_v1_store_category_path(store_category) %></td>
    <td><%= link_to 'Destroy', api_v1_store_category_path(store_category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store category', new_api_v1_store_category_path %>
