<p id="notice"><%= notice %></p>

<p>
  <b>Store:</b>
  <%= @store_category.store_id %>
</p>

<p>
  <b>Category:</b>
  <%= @store_category.category_id %>
</p>


<%= link_to 'Edit', edit_api_v1_store_category_path(@store_category) %> |
<%= link_to 'Back', api_v1_store_categories_path %>
