<%= form_for([:api,:v1,@user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.datetime_select :dob %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :udid %><br />
    <%= f.text_field :udid %>
  </div>
  <div class="field">
    <%= f.label :device_type %><br />
    <%= f.text_field :device_type %>
  </div>
  <div class="field">
    <%= f.label :notification_key %><br />
    <%= f.text_field :notification_key %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
