<%= form_for([:api, :v1, @user_store]) do |f| %>
  <% if @user_store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_store.errors.count, "error") %> prohibited this user_store from being saved:</h2>

      <ul>
      <% @user_store.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :store_id %><br />
    <%= f.number_field :store_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
