<%= form_for(@target_rule) do |f| %>
  <% if @target_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@target_rule.errors.count, "error") %> prohibited this target_rule from being saved:</h2>

      <ul>
      <% @target_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :all_age %><br />
    <%= f.check_box :all_age %>
  </div>
  <div class="field">
    <%= f.label :age_category %><br />
    <%= f.text_field :age_category %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </div>
  <div class="field">
    <%= f.label :past_customer %><br />
    <%= f.check_box :past_customer %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :deal %><br />
    <%= f.text_field :deal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
