// Place all the styles related to the temp_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.archive-image-preview{
  width: 301px;
  height: 315px;
  margin: 10px;
  float: left;
  padding: 5px;
}