<%  content_for :title, 'beam-e-up | Edit Hotspot' %>
<%  content_for :keywords, '' %>
<%  content_for :description, '' %>

<div class="content">
  <%= render :partial=> 'partials/main_menu' %>
  <div class="contentInside">
    <!-- Content goes here-->
<%#= render 'index' %>
    <div class="clear"></div>
<%= render 'form' %>
    
      </div>
      <div class="clear"></div>

      <!-- Content ends here-->
    </div>
  <