<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_hotspot.name %>
</p>

<p>
  <b>Address:</b>
  <%= @admin_hotspot.address %>
</p>

<p>
  <b>Zone:</b>
  <%= @admin_hotspot.zone_id %>
</p>


<%= link_to 'Edit', edit_admin_hotspot_path(@admin_hotspot) %> |
<%= link_to 'Back', admin_hotspots_path %>
