<h1>Listing stores</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Logo url</th>
    <th>Rule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stores.each do |store| %>
  <tr>
    <td><%= store.name %></td>
    <td><%= store.description %></td>
    <td><%= store.logo_url %></td>
    <td><%= store.target_rule_id %></td>
    <td><%= link_to 'Show', api_v1_store_path(store) %></td>
    <td><%= link_to 'Edit', edit_api_v1_store_path(store) %></td>
    <td><%= link_to 'Destroy', api_v1_store_path(store), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Store', new_api_v1_store_path %>
