<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? content_for(:title) : 'beam-e-up' %>
  </title>
  <meta name="keywords" content="<%= content_for?(:keywords) ? content_for(:keywords) : '' %>" />
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : '' %>" />

   <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/style", :media => "all" %>
   <%= stylesheet_link_tag    "/stylesheets/uniform.default", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/public", :media => "all" %>
  <%= stylesheet_link_tag    "/stylesheets/api", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "/javascripts/jquery-ui-1.8.21.custom.min.js" %>
  <%#= javascript_include_tag "/javascripts/jquery-1.7.2.min.js" %>
  <%= javascript_include_tag "/javascripts/jquery.uniform.js" %>
  <%= javascript_include_tag "/javascripts/colorpicker/colorpicker.js" %>
  <%= javascript_include_tag "/javascripts/public.js" %>

  <%= javascript_include_tag "/javascripts/colorbox/jquery.colorbox.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
  $(document).ready(function(){
  $("form select, input:checkbox, input:radio, input:file").uniform();
  });

</script>

  <div style="background-color: red; color: white; font-weight:  bold;">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  </div>


<div id="wrapper">
<% if current_user %>
  <header id="header">
    <div class="content">
      <div class="logo"></div>
      <div class="clear"></div>
    </div>

  </header><!-- #header-->
<%end%>
  <div id="content">

    <%= yield %>

  </div> <!-- content id div end -->

  <footer id="footer">
    <div class="content">
      <%if current_user%>
       beam-e-up. All rights Reserved &copy; 2012
      <%else%>
       <div class="textAlignCenter">Beam-e-up. All rights Reserved &copy; 2012</div>
      <%end%>
    </div>
  </footer><!-- #footer -->

</div>
</body>
</html>
