<%#content_for :title, 'beam-e-up | Login'%>
<%#content_for :keywords, 'login' %>
<%#content_for :description, 'login to connect to beem e up' %>


<<div style="text-align: center;width: 116px;margin-left:auto;margin-right: auto;">  <br/><br/><br/>
  <div style="text-align: center;margin-left:auto;margin-right: auto;">
    <% flash[:notice]= notice %>
    <% flash[:error]= alert %>
  </div>
  <img src="/images/logo.png" width="116" height="67" alt="Beam-e-up" align="middle" /><br /><br />
</div>
<div class="content textAlignCenter">

  <div class="panel" style="width:450px; margin:0 auto;">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name %></div>


  <div><%= f.label :username %><br />
  <%= f.text_field :username %></div>


  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%= link_to "Back", :back %>
  </div>
</div>